{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" class="{% block html_class %}no-js{% endblock %}">
    <head>
        <title>{% block title %}{{ shop_name }} - {{ shop_tagline }}{% endblock %}</title>

        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="created" content="{% now "jS M Y h:i" %}" />
        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="viewport" content="{% block viewport %}width=device-width{% endblock %}" />
        <meta name="robots" content="NOARCHIVE,NOCACHE" />
        {% block favicon %}
            <link rel="shortcut icon" href="{% static "oscar/favicon.ico" %}" />
        {% endblock %}

        {# Block where global CSS will go. #}
        {% block styles %}{% endblock %}

        {# Additional CSS - specific to certain pages #}
        {% block extrastyles %}
        <link rel="stylesheet" type="text/css" href="{% static "oscar/css/footer.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "oscar/css/navigation.css" %}" />
        {% endblock %}

        {% block extrahead %}{% endblock %}

        {% block tracking %}
            {# Default to using Google analytics #}
            {% include "oscar/partials/google_analytics.html" %}
        {% endblock %}
    </head>

    <body id="{% block body_id %}default{% endblock %}" class="{% block body_class %}default{% endblock %}">
        {# Main content goes in this 'layout' block #}
        {% block newheading %}
        <div class="row new-header-box">
            <div class="col-sm-12 header-content">
                <a href="http://www.eastbristolhops.co.uk/"><img class="hop"
                src="{% static 'oscar/img/hopleft.png' %}" alt="logo"></a> 
                <a href="http://www.eastbristolhops.co.uk/"><img class="ebhlogo"
                src="{% static 'oscar/img/ebhnavheader.png' %}" alt="logo"></a>
                <a href="http://www.eastbristolhops.co.uk/"><img class="hop"
                src="{% static 'oscar/img/hopright.png' %}" alt="logo"></a>
            </div>
        </div>
        {% endblock %}
    
        
        {% block layout %}{% endblock %}

        {% block footer %}
        <footer>
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12">
                  <a href="https://www.facebook.com/groups/eastbristolhops" target="_blank"><i
                      class="fab fa-facebook-square footer-icon" aria-hidden="true"></i></a>
                  <a href="https://twitter.com/eastbristolhops?lang=en" target="_blank"><i
                      class="fab fa-twitter-square footer-icon" aria-hidden="true"></i></a>
                  <a href="#" target="_blank"><i class="fab fa-instagram-square footer-icon" aria-hidden="true"></i></a>
                  <div class="copyright-footer">Copyright-&copy;
                    <script>document.write(new Date().getFullYear()); </script> East Bristol Hops <a class="footer-tc"
                      href="http://www.eastbristolhops.co.uk/terms/index">-Terms & Consitions-Privacy Policy</a></div>
                </div>
              </div>
            </div>
          </footer>
        {% endblock %}

        {# Scripts loaded from a CDN. #}
        {% block cdn_scripts %}
            <!-- jQuery -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="{% static "oscar/js/jquery/jquery.min.js" %}"><\/script>')</script>
        {% endblock %}

        {# Local scripts #}
        {% block scripts %}
        {% endblock %}

        {# Additional JS scripts #}
        {% block extrascripts %}{% endblock %}

        {# Block for body onload functions #}
        <script>
            $(function() {
                {% block onbodyload %}{% endblock %}
            });
        </script>

        {# Page meta-data - this is populated by the 'metadata' template context processor #}
    </body>
</html>
