footer{
    position: fixed;
    background-color: black;
    padding-top: 3px;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: auto;
}

.footer-icon{
    color:#C6AE34;
    font-size: 1.5rem;
}

.footer-icon:hover{
    color:#F79767;
}

.copyright-footer{
    color:#F79767;
    font-size: 2rem;
    font-family: 'Unkempt', cursive;
}

.footer-tc{
    cursor: pointer;
}
@media only screen and (max-width: 768px){
  
}

@media only screen and (max-width: 425px){
    footer{
        position: fixed;
    }
}    
   
@media only screen and (max-width: 375px){

}    

@media only screen and (max-width: 320px){

   
}  
